<!DOCTYPE HTML>

<!-- after login you are directed to this page which (for now) only contains nav bar and welcome message -->

<html>
<head>
	<title>Monitor: Forum Posts</title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
    
<body>

	<%- include header %>

    <%- include search %>

    <%- include pageIndex %>

    <!-- table with information -->
    <table border='1'>
        <% for(var i = 0; i < data.length; i++) { %>
            <% if(i == 0){ %>
            <tr>
                <td>option</td>
                <% for(var temp in data[i]) { %>
                <td><%= temp %></td>
                <% } %>
            </tr>
            <% } %>
            <tr>
                <td>
                	<% if(type < 1) { %>
                	<a href="/forumFlag/<%= data[i]['id'] %>" onclick="return confirm('Confirm to flag this post?');">flag</a>
                	<% } %>
                	<% if(type < 2) { %>
                	<a href="/forumWeakDelete/<%= data[i]['id'] %>" onclick="return confirm('Confirm to mark the content as [deleted]?');">weakDelete</a>
                	<% } %>
                    <a href="/forumStrongDelete/<%= data[i]['id'] %>" onclick="return confirm('Confirm to delete it from database?');">strongDelete</a>
                </td>
                <% for (var temp in data[i]) { %>
                <td><%= data[i][temp] %></td>
                <% } %>
            </tr>
        <% } %>
    </table>

</body>
</html>

